// Header
header { 
    text-align: center; 

    img {
        display :block;
        margin : 100px auto 0;
        width : 200px;
    }

}

#photoswipe {
    margin-top : 30px;
    figure {
        margin : 0;
    }
}

// Footer
footer {
    position : absolute;
    bottom : 100px;
    left : 0;
    right : 0;
    margin : auto;
    text-align : center;
    a {
        font-family : 'Quattrocento', serif;
        font-size : 13px;
        color : #ccc;
        text-decoration: none;
        &:hover {
            color : #888;
            border-bottom : 1px solid #ccc;
        }
    }
}