// Links

body {
   font-family : $font-family-sans-light; 
}

h1, h2, h3, h4, h5, h6 {
    font-family : $font-family-sans-light;
}

a {
    position : relative;
    color : $gold;
    font-family : $font-family-sans-light; 
    text-decoration: none;
    opacity : 0.7;
}

a:after {
    @include transition(all, 300ms, ease-in-out);
    position : absolute;
    left : 0;
    bottom : -4px;
    display : inline-block;
    content : '';
    width : 0%;
    height : 1px;
    background : $gold;
    opacity : 0.3;
}

a:hover {
    opacity : 1;
    &:after {
        width : 100%;
    }
}

p {
    font-size : 1rem;
}



// Header
header { 
    text-align: center; 
    #logo {
        position : relative;
        z-index : 10;
        img {
            display : block;
            position : fixed;
            top : 0;
            left : 0;
            right : 0;
            margin : 5rem auto 0;
            width : 200px;
        }
    }
    #nav {
        margin : 8rem auto 0;
        ul {
            margin-left : 0;
            padding-left : 0;

            li, a {
                display : inline-block;
                list-style-type : none;
                margin : 0 .5rem;
                color : $grey;
            }
        }
    }
}

// Body


// Footer
footer {
    position : fixed;
    bottom : 5rem;
    left : 0;
    right : 0;
    margin : auto;
    text-align : center;
    a {
        display : inline-block;
        font-size : 0.9rem;
    }
}

// home
#home {
    text-align : center;
    h1 {
        padding : 30px;
        color : $black;
        font-size : 2rem;
    }
}

// shop home
#shop-home {
    margin : 3rem auto;
    div {
        margin-bottom : 2rem;
    }
}


// photoswipe
#photoswipe {
    margin-top : 30px;
    figure {
        margin : 0;
    }
}


@media #{$small-only} {
    header {
        img {
            margin : 50px auto 0;
        }
    }
    footer {
        bottom : 50px;
    }
}