// header
#header {
    padding: 2em 1em;
    text-align: center; 

    @media #{$large-up} {
        padding: 4em 0;
    }

    img {
        display : block;
        height: 30px;
        width: auto;
    }
}

// home
#home {

    &__header {

        h1 {
            max-width: 750px;
            margin-bottom: 1em;

            @media #{$small-only} {
                font-size: $h2-font-size;
            }

            @media #{$large-up} {
                margin-bottom: 1.5em;
            }
        }
    }
}

// Work
#work {
    margin-top: 2em;

    @media #{$large-up} {
        margin-top: 4em;
    }
}

.work {
    display: block;
    position: relative;
    opacity: 1;

    &:hover {
        .work__overlay {
            @include transition(opacity, 400ms, ease-in-out);
            opacity: 1;
        }
    }

    &__overlay {
        position: absolute;
        padding: 1em;
        opacity: 1;

        @media #{$large-up} {
            padding: 2em;
            opacity: 0;
        }
    }

    &__nav {

        &--active {
            a {
                color: $black;
                border-bottom: 1px solid $black;
            }
        }

        ul {
            margin: 1em auto 2em;
            text-align: center;
        }

        li {
            display: inline-block; 
            padding: 1em;           
        }
    }
}

.page {
    padding-bottom: 2em;

    @media #{$large-up} {
        padding-bottom: 4em;
    }

    &__header {
        margin-bottom: 2em;

        h1 {
            @media #{$small-only} {
                font-size : $h3-font-size;
            }
        }
    }  

    &__type {
        display: inline-block;
        padding: 5px 7px;
        border: 1px solid $primary;
        border-radius: 10px;
        font-size: 13px;
    } 
}


// Checkout
.tradesy-checkout {
    &__old {
        text-align: center;

        img {
            width: 450px;
            margin: auto;
        }
    }
}


// About 
#about {
    padding: 0 1em 2em;

    @media #{$large-up} {
        padding: 2em 0 4em;
    }
}

.about {
    &__image {
        margin-top: 2em;
        text-align: center;

        img {
            width: 200px;
            margin: auto;
        }
    }
}

#footer {
    background-color: $primary;
    padding: 2em 1em;
    color: $white;
    font-family: $font-family-sans-light;

    @media #{$large-up} {
        padding: 4em 0;
    }

    h3 {
        color: $white;
    }
}


